body {
    background-color: rgb(255, 255, 255);
}
.emergency {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 2rem;
    text-align: center;
    color: rgb(226, 76, 53);
}
.fine {
    text-align: center;
    font-size: 1;
    color: var(--text-dark-color);
}
hr {
 border: solid 1px rgb(226, 76, 53);;
}