h1 {
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#reminder-form {
  max-width: 400px;
  margin: 20px auto;
  display: block;

}

#reminders-list {
  max-width: 400px;
  margin: 20px auto;
}

.reminder {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
#deleteb {
 border: 2px solid rgb(215, 64, 64);
 border-radius: 5px;
 background-color:#fff;
 padding: 5px;
 color: rgb(215, 64, 64);
}

#addb {
  border: 2px solid var(--dark-logo-color);
  border-radius: 5px;
  background-color:#fff;
  padding: 5px;
  color: var(--dark-logo-color);
 }

#time, #addr {
  background-color: var(--dark-logo-color);
  width: 49%;
  height: 35px;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5pc;
  color: #fff;
  display: inline-block;
}