h1 {
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
td, th {
  border: 2px solid var(--dark-logo-color);
  padding: 5px;
}
th {
  background-color: var(--dark-logo-color);
  color: #fff;
}
#delete {
  color: var(--dark-logo-color);
  border-left: none;
}